.container {  
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 1.5fr;
  grid-template-rows: 1.2fr 0.6fr 1.2fr;
  gap: 0px 0px;
  min-height:100vh;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". loginbox ."
    ". . .";
}

.loginbox { 
    grid-area: loginbox; 
    background-color: beige;

    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
