.container {  
    display: grid;
    grid-template-columns: 0.1fr 0.45fr 3fr 0.1fr;
    grid-template-rows: 0.05fr 0.05fr 1fr auto 0.05fr;
    gap: 5px;
    grid-auto-flow: row;
    height: 100vh;
    grid-template-areas:
        ". . . ."
        ". searcharea titlearea ."
        ". sidearea mainarea ."
        ". toolarea profilearea ."
        ". . . .";
}

@media (max-width: 1080px) {
    .container {
        grid-template-columns: 0.05fr 1fr 3fr 0.05fr;
        grid-template-rows: 0.05fr auto auto 1fr auto auto 0.05fr;
        height: 100vh;
        grid-template-areas:
            ". . . ."
            ". searcharea titlearea ."
            ". searcharea titlearea ."
            ". sidearea mainarea ."
            ". toolarea toolarea ."
            ". profilearea profilearea ."
            ". . . .";
    }
}

.mainarea, .sidearea, .toolarea, .profilearea, .searcharea, .titlearea {
    border: 2px solid black;
    background-color: beige;
    padding: 5px;
    margin: 0;
}

.mainarea { 
    grid-area: mainarea;
    overflow-y: auto;
}

.sidearea { 
    grid-area: sidearea;
    overflow-y: auto;
}

.toolarea { 
    grid-area: toolarea;
    aspect-ratio: 1 / 1;
    display: flex;
}



/* Style the toolicons to fill their parent <a> */
.toolicon {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: block;
}

.filetool {
    background-image: url('/images/folder.png');
}

.testtool {
    background-image: url('/images/test.png');
}

.permtool {
    background-image: url('/images/perm.png');
}

.profilearea { 
    grid-area: profilearea;
    overflow-y: auto;
}

.searcharea { grid-area: searcharea; }

.titlearea { grid-area: titlearea; }

