.toolarea {
    display: flex;
    align-items: center;
    justify-content: center;

}

.toolarea > a {
    width: 45%;
    height: 45%;
}

@media (max-width: 1080px) {
    .toolarea {
        aspect-ratio: auto;
        height: auto;
        padding: 10px 5px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .toolarea > a {
        position: static;
        transform: none;
        width: 50px;
        height: 50px;
    }
}   

.backicon {
    background-image: url('/images/backarrow.png');
}

.uploadfile {
    background-image: url('/images/uploadfile.png');
}

.makefolder {
    background-image: url('/images/createfolder.png');
}

.deletefile {
    background-image: url('/images/trash.png');
}

.toolback {
    grid-area: toolarea;
    z-index: 10;
    padding: 10px; 
}

.mainfuncs > div {
    display: flex;;
    width:2%;
    height:5%;
    cursor:grab;
}

.toolback > a {
    display: flex;
    width:25%;
    height:25%;
}

.mainfuncs {
    grid-area: mainarea;
    z-index: 10;
    padding: 10px; 
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-end; /* Aligns items to the right */
    align-items: flex-end;     /* Aligns items to the bottom */
}